@charset "UTF-8";
/* CSS Document */

#objective {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
#table {
	font-size: 13px;
}
#expertise {
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
}

.employer {
	font-size: 13px;
	font-weight: bold;
}
.title {
	font-size: 13px;
	font-style: italic;
	font-weight: lighter;
}
#text {
	font-size: 13px;
}
#area {
	border: thin solid #000;
	height: 475px;
	width: 985px;
	overflow: scroll;
}
